Question 1. Write a function called int_return that takes an integer as input and returns
the same integer.

In [1]:
def func1():
    num=float(input("enter a number: "))
    print("your entered no is: ", num)
func1()

enter a number: 2.5
your entered no is:  2.5

Question 2. Write a function called add that takes any number as its input and returns that
sum with 2 added.

In [2]:
def func1():
    s=0
    num=float(input("enter a number: "))
    s=num+2
    print("your sum is: ", s)
func1()

enter a number: 2.5
your sum is:  4.5

Question 3. Write a function called change that takes any string, adds “Nice to meet you!”
to the end of the argument given, and returns that new string.

In [3]:
def change():
    s1=str(input("please enter your name:) "))
    op=s1+ ','+ "nice to meet you! "
    print(op)
change()

please enter your name:) yakub
yakub,nice to meet you

Question 4. Write a function, accum, that takes a list of integers as input and returns the
sum of those integers.

In [24]:
def accum():
    n = int(input("enter number of elements : ")) 
    a = list(map(int,input("enter the numbers with space seperated: ").split()))[:n]   
    print("list is: ", a)
    s=0
    for i in range(0,len(a)):
        s=s+a[i]
    print("the sum is: ",s)
accum()

enter number of elements : 2
enter the numbers with space seperated: 20 30
list is:  [20, 30]
the sum is:  50

Question 5. Write a function, length, that takes in a list as the input. If the length of the list
is greater than or equal to 5, return “Longer than 5”. If the length is less than 5, return
“Less than 5”.

In [29]:
def length():
    a = list(map(int,input("enter the numbers with space seperated: ").split()))
    print("list is: ", a)
    if len(a)>=5:
        print("greater than 5")
    else:
        print("less than 5")
length()

enter the numbers with space seperated: 1 2 36 9
list is:  [1, 2, 36, 9]
less than 5

Question 6. You will need to write two functions for this problem. The first function, divide
that takes in any number and returns that same number divided by 2. The second function
called sum should take any number, divide it by 2, and add 6. It should return this new
number. You should call the divide function within the sum function. Do not worry about
decimals.

In [70]:
def divide(x):
    a=x/2
    return a    
def sum1(x):
    return divide(x)+6        
num=float(input("enter a no and see the magic: "))
print("divide",divid(num))
print("sum",sum1(num))

enter a no and see the magic: 3
divide 1.5
sum 7.5

Question 7. The list below, tuples_lst, is a list of tuples. Create a list of the second
elements of each tuple and assign this list to the variable country.
tuples_lst = [(&#39;Beijing&#39;, &#39;China&#39;, 2008), (&#39;London&#39;, &#39;England&#39;, 2012), (&#39;Rio&#39;, &#39;Brazil&#39;, 2016,
&#39;Current&#39;), (&#39;Tokyo&#39;, &#39;Japan&#39;, 2020, &#39;Future&#39;)]

In [81]:
tuples_lst = [('Beijing', 'China', 2008), ('London', 'England', 2012), ('Rio', 'Brazil', 2016, 'Current'), ('Tokyo', 'Japan', 2020, 'Future')]
from operator import itemgetter  
country = list(map(itemgetter(1), tuples_lst)) 
print ("Country: " + str(country))

Country: ['China', 'England', 'Brazil', 'Japan']

Question 8. Define a function called info with five parameters: name, gender, age,
bday_month, and hometown. The function should then return a tuple with all five
parameters in that order.

In [88]:
def info(name,gender,age,bday_month,hometown):
    return (name,gender,age,bday_month,hometown)
a,b,c,d,e =input("enter the details as name,gender,age,bday_month,hometown: ").split()
print(info(a,b,c,d,e))

enter the details as name,gender,age,bday_month,hometown: miku male 28 nov jorhat
('miku', 'male', '28', 'nov', 'jorhat')

Question 9. Given is the dictionary, gold, which shows the country and the number of gold
medals they have earned so far in the 2016 Olympics. Create a list, num_medals, that
contains only the number of medals for each country. You must use the .items() method.
Note: The .items() method provides a list of tuples. Do not use .keys() method.

In [111]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
num_medals=[]
for i,j in golds.items():
    a="{}".format(j)
    num_medals.append(a)
print("the list is: ", num_medals)

the list is:  ['12', '33', '15', '27', '19', '22', '8', '29']

Question 10. Write a function, sublist, that takes in a list of numbers as the parameter. Inthe function, use a while loop to return a sublist of the input list. The sublist should containthe same values of the original list up until it reaches the number 5 (it should not containthe number 5)

In [118]:
def sublist(a):
    a = list(map(int,input("enter the numbers with space seperated: ").split()))
    s= []
    a = (n for n in a)
    n = next(a, 5)  
    while n != 5:
        s.append(n)
        n = next(a, 5)
    return s
sublist(a)

enter the numbers with space seperated: 1 6 3 9 7 4 2 4 99 2 5

[1, 6, 3, 9, 7, 4, 2, 4, 99, 2]

Question 11. Write a function called check_nums that takes a list as its parameter, and
contains a while loop that only stops once the element of the list is the number 7. What is
returned is a list of all of the numbers up until it reaches 7.

In [129]:
def check_nums(a):
    x=[]
    while True:
        n=int(input("enter the element for the list:"))
        x.append(n)
        if n==7:
            print("opps you input 7 so loop is going to break")
            break
    print("the final list is:", x)
check_nums(a)

enter the element for the list:2
enter the element for the list:3
enter the element for the list:6
enter the element for the list:7
opps you input 7 so loop is going to break
the final list is: [2, 3, 6, 7]

Question 12. Write a function, sublist, that takes in a list of strings as the parameter. In the
function, use a while loop to return a sublist of the input list. The sublist should contain the
same values of the original list up until it reaches the string “STOP” (it should not contain
the string “STOP”).

In [5]:
def sublist(a):
    n=str(input("enter string values: "))
    x=[]
    while n!="STOP" or n!="stop":
        #n=str(input("enter string values: "))
        x.append(n)
        #if n=="STOP" or n=="stop":    
            #break
            #x.append(n)
    print("sublist", x)
sublist(a)

NameError: name 'a' is not defined

Question 13. Write a function called stop_at_z that iterates through a list of strings. Using
a while loop, append each string to a new list until the string that appears is “z”. The
function should return the new list.

In [138]:
def sublist(a):
    a = list(map(str,input("enter the strings with space seperated: ").split()))
    s= []
    a = (n for n in a)
    n = next(a, "z")  
    while n != "z":
        s.append(n)
        n = next(a, "z")
    return s
sublist(a)

enter the strings with space seperated: a b n g ls z

['a', 'b', 'n', 'g', 'ls']

Question 14. Below is a for loop that works. Underneath the for loop, rewrite the problem
so that it does the same thing, but using a while loop instead of a for loop. Assign the
accumulated total in the while loop code to the variable sum2. Once complete, sum2
should equal sum1.


sum1 = 0

lst = [65, 78, 21, 33]

for x in lst:
sum1 = sum1 + x

In [148]:
sum1 = 0
lst = [65, 78, 21, 33]
for x in lst: 
    sum1 = sum1 + x
    print(sum1)
    
######### or ###########

sum2=0
a=0
lst = [65, 78, 21, 33]
while a<len(lst):
    sum2=sum2+lst[a]
    a+=1
print("with while loop:  ",sum2)

65
143
164
197
with while loop:   197

Question 15. Write a function called beginning that takes a list as input and contains a
while loop that only stops once the element of the list is the string ‘bye’. What is returned is
a list that contains up to the first 10 strings, regardless of where the loop stops. (i.e., if it
stops on the 32nd element, the first 10 are returned. If “bye” is the 5th element, the first 4
are returned.) If you want to make this even more of a challenge, do this without slicing

In [10]:
def beginning():
    s1=[]
    while True:
        n=str(input("enter string: "))
        s1.append(n)
        if n=="bye":
            break
    print(s1)
beginning()

def beginning(x):
    n = 0
    lst = []
    while "bye" not in x[n] and n < 10:
        lst.append(x[n])
        n = n + 1
    return lst

enter string: sdvbs
enter string: sdvskldvnblsd
enter string: sbvsdbvls
enter string: sdbsl
enter string: bye
['sdvbs', 'sdvskldvnblsd', 'sbvsdbvls', 'sdbsl', 'bye']

Question 16. Create a function called mult that has two parameters, the first is required and should be an integer, the second is an optional parameter that can either be a number or a string but whose default is 6. The function should return the first parameter multiplied
by the second.

In [20]:
def mult(a, b=6):
    return a * b
num=float(input("enter a no and see the magic: "))
print("divide",mult(num))

enter a no and see the magic: 3
divide 18.0

Question 17. The following function, greeting, does not work. Please fix the code so that it
runs without error. This only requires one change in the definition of the function.
def greeting(greeting=&quot;Hello &quot;, name, excl=&quot;!&quot;):
return greeting + name + excl
print(greeting(&quot;Bob&quot;))
print(greeting(&quot;&quot;))
print(greeting(&quot;Bob&quot;, excl=&quot;!!!&quot;))

In [26]:
## buged one
def greeting(greeting="Hello ",name,excl="!"):
        return greeting + name + excl 
print(greeting("Bob")) 
print(greeting("")) 
print(greeting("Bob" ,excl="!!!"))

################ correct one################
## correct one
def greeting(name,greeting="Hello ",excl="!"): #can't have non-default args after defaults.
        return greeting + name + excl 
print(greeting("Bob")) 
print(greeting("")) 
print(greeting("Bob" ,excl="!!!"))

################# output #################
Hello Bob!
Hello !
Hello Bob!!

SyntaxError: non-default argument follows default argument (<ipython-input-26-4f828e5b47d0>, line 1)

Question 18. Below is a function, sum, that does not work. Change the function definition so the code
works. The function should still have a required parameter, intx, and an optional parameter, intz with a
defualt value of 5.

In [ ]:
#####no functon found###########

Question 19. Write a function, test, that takes in three parameters: a required integer, an optional boolean
whose default value is True, and an optional dictionary, called dict1, whose default value is {2:3, 4:5, 6:8}. If
the boolean parameter is True, the function should test to see if the integer is a key in the dictionary. The
value of that key should then be returned. If the boolean parameter is False, return the boolean value
“False”.

In [52]:
def f1(a, b=True, dict1={2:3, 4:5, 6:8}):
    return b and dict1.get(a, False)
n=int(input("enter a no: "))
print(f1(n))

enter a no: 4
5

Question 20: Write a function called checkingIfIn that takes three parameters. The first is
a required parameter, which should be a string. The second is an optional parameter
called direction with a default value of True. The third is an optional parameter called d that
has a default value of {&#39;apple&#39;: 2, &#39;pear&#39;: 1, &#39;fruit&#39;: 19, &#39;orange&#39;: 5, &#39;banana&#39;: 3, &#39;grapes&#39;: 2,
&#39;watermelon&#39;: 7}. Write the function checkingIfIn so that when the second parameter is
True, it checks to see if the first parameter is a key in the third parameter; if it is, return
True, otherwise return False.
But if the second paramter is False, then the function should check to see if the first
parameter is not a key of the third. If it’s not, the function should return True in this case,
and if it is, it should return False.

In [85]:
def checkingIfIn(i, direction = True, dict1 = {'apple': 2, 'pear': 1, 'fruit': 19, 'orange': 5, 'banana': 3, 'grapes': 2, 'watermelon': 7}):
    if direction == True:
        if i in dict1:
            return True 
        else:
            return False
    else:
        if i not in dict1:
            return True
        else:
            return False
n=input("enter a fruit name:")
print("your entered fruit name is: ",checkingIfIn(n))

enter a fruit name:banana
your entered fruit name is:  True

In [ ]:
Question 21. We have provided the function checkingIfIn such that if the first input parameter is in the third,
dictionary, input parameter, then the function returns that value, and otherwise, it returns False. Follow the
instructions in the active code window for specific variable assignmemts.
def checkingIfIn(a, direction = True, d = {&#39;apple&#39;: 2, &#39;pear&#39;: 1, &#39;fruit&#39;: 19, &#39;orange&#39;: 5, &#39;banana&#39;: 3, &#39;grapes&#39;: 2,
&#39;watermelon&#39;: 7}):
if direction == True:
if a in d:
return d[a]
else:
return False
else:
if a not in d:
return True

else:
return d[a]
# Call the function so that it returns False and assign that function call to the variable c_false
# Call the fucntion so that it returns True and assign it to the variable c_true
# Call the function so that the value of fruit is assigned to the variable fruit_ans
# Call the function using the first and third parameter so that the value 8 is assigned to the variable
param_check

In [92]:
def checkingIfIn(a, direction = True, d = {'apple': 2, 'pear': 1, 'fruit': 19, 'orange': 5, 'banana': 3, 'grapes': 2, 'watermelon': 7}):
    if direction == True:
        if a in d:
            return d[a]
        else:
            return False
    else:
        if a not in d:
            return True
        else:
            return d[a]

# Call the function so that it returns False and assign that function call to the variable c_false
c_false = checkingIfIn('p')
# Call the fucntion so that it returns True and assign it to the variable c_true
c_true = checkingIfIn("apple")
# Call the function so that the value of fruit is assigned to the variable fruit_ans
fruit_ans= checkingIfIn('fruit')
# Call the function using the first and third parameter so that the value 8 is assigned to the variable param_check
param_check = checkingIfIn('apple',{'apple': 2, 'pear': 1, 'fruit': 19, 'orange': 5, 'banana': 3, 'grapes': 2, 'watermelon': 7})
print(c_false)
print(c_true)
print(fruit_ans)
print(param_check)## this is i can't figure it

False
2
19
2

Question 22. Create a function called last_four that takes in an ID number and returns the last four digits.
For example, the number 17573005 should return 3005. Then, use this function to sort the list of ids stored in
the variable, ids, from lowest to highest. Save this sorted list in the variable, sorted_ids. Hint: Remember that
only strings can be indexed, so conversions may be needed.
def last_four(x):
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

In [3]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
x=[]
for i in ids:
    x.append(str(i).split("1757")[1])
j=sorted(x)
sorted_id=[]
for k in j:
    sorted_id.append('1757'+k)
print("the sorted list is: ",sorted_id)

the sorted list is:  ['17570002', '17572342', '17572345', '17573005', '17579000', '17579329']

Question 23. Sort the list ids by the last four digits of each id. Do this using lambda and not using a defined
function. Save this sorted list in the variable sorted_id.
Ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

In [16]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
ids.sort(key=lambda x: str(x)[-4:])
print(ids)

[17570002, 17572342, 17572345, 17573005, 17579000, 17579329]

Question 24. Sort the following list by each element’s second letter a to z. Do so by using lambda. Assign
the resulting value to the variable lambda_sort.
ex_lst = [&#39;hi&#39;, &#39;how are you&#39;, &#39;bye&#39;, &#39;apple&#39;, &#39;zebra&#39;, &#39;dance&#39;]

In [19]:
x=['hi', 'how are you', 'bye', 'apple', 'zebra', 'dance']
x.sort(key=lambda x:x[1])
print(x)

['dance', 'zebra', 'hi', 'how are you', 'apple', 'bye']

Question 25. The variable nested contains a nested list. Assign ‘snake’ to the variable output using
indexing.
nested = [[&#39;dog&#39;, &#39;cat&#39;, &#39;horse&#39;], [&#39;frog&#39;, &#39;turtle&#39;, &#39;snake&#39;, &#39;gecko&#39;], [&#39;hamster&#39;, &#39;gerbil&#39;, &#39;rat&#39;, &#39;ferret&#39;]]

In [25]:
nested = [['dog', 'cat', 'horse'], ['frog', 'turtle', 'snake', 'gecko'], ['hamster', 'gerbil', 'rat', 'ferret']]
op = nested[1]
print(op)
output=op[2]
print(output)
#####################
output1=nested[1][2]
print(output1)

['frog', 'turtle', 'snake', 'gecko']
snake
snake

Question 26. Below, a list of lists is provided. Use in and not in tests to create variables with Boolean values.
See comments for further instructions.
lst = [[&#39;apple&#39;, &#39;orange&#39;, &#39;banana&#39;], [5, 6, 7, 8, 9.9, 10], [&#39;green&#39;, &#39;yellow&#39;, &#39;purple&#39;, &#39;red&#39;]]

In [26]:
lst = [['apple', 'orange', 'banana'], [5, 6, 7, 8, 9.9, 10], ['green', 'yellow', 'purple', 'red']]
#Test to see if &#39;yellow&#39; is in the third list of lst. Save to variable ``yellow``
yellow="yellow" in lst[2]
print(yellow)
#Test to see if 4 is in the second list of lst. Save to variable ``four``
four=4 in lst[1]
print(four)
#Test to see if &#39;orange&#39; is in the first element of lst. Save to variable ``orange``
orange="orange" in lst[0][1]
print(orange)

True
False
True

Question 27. The variable nested_d contains a nested dictionary with the gold medal counts for the top four
countries in the past three Olympics. Assign the value of Great Britain’s gold medal count from the London
Olympics to the variable london_gold. Use indexing.
nested_d = {&#39;Beijing&#39;:{&#39;China&#39;:51, &#39;USA&#39;:36, &#39;Russia&#39;:22, &#39;Great Britain&#39;:19}, &#39;London&#39;:{&#39;USA&#39;:46, &#39;China&#39;:38,
&#39;Great Britain&#39;:29, &#39;Russia&#39;:22}, &#39;Rio&#39;:{&#39;USA&#39;:35, &#39;Great Britain&#39;:22, &#39;China&#39;:20, &#39;Germany&#39;:13}}

In [34]:
nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}
#print(nested_d)
london_gold=nested_d['London']['Great Britain']
print("gold for GB: ",london_gold)

gold for GB:  29

Question 28. Given the dictionary, nested_d, save the medal count for the USA from all three Olympics in
the dictionary to the list US_count.
nested_d = {&#39;Beijing&#39;:{&#39;China&#39;:51, &#39;USA&#39;:36, &#39;Russia&#39;:22, &#39;Great Britain&#39;:19}, &#39;London&#39;:{&#39;USA&#39;:46, &#39;China&#39;:38,
&#39;Great Britain&#39;:29, &#39;Russia&#39;:22}, &#39;Rio&#39;:{&#39;USA&#39;:35, &#39;Great Britain&#39;:22, &#39;China&#39;:20, &#39;Germany&#39;:13}}
US_count = []

In [36]:
nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}
US_count = []
US_count.append(nested_d['Beijing']['USA'])
US_count.append(nested_d['London']['USA'])
US_count.append(nested_d['Rio']['USA'])
print(US_count)

[36, 46, 35]

Question 29. Iterate through the contents of l_of_l and assign the third element of sublist to a new list called
third.
l_of_l = [[&#39;purple&#39;, &#39;mauve&#39;, &#39;blue&#39;], [&#39;red&#39;, &#39;maroon&#39;, &#39;blood orange&#39;, &#39;crimson&#39;], [&#39;sea green&#39;, &#39;cornflower&#39;,
&#39;lavender&#39;, &#39;indigo&#39;], [&#39;yellow&#39;, &#39;amarillo&#39;, &#39;mac n cheese&#39;, &#39;golden rod&#39;]]

In [40]:
l_of_l = [['purple', 'mauve', 'blue'], ['red', 'maroon', 'blood orange', 'crimson'], ['sea green', 'cornflower', 'lavender', 'indigo'], ['yellow', 'amarillo', 'mac n cheese', 'golden rod']]
third=[]
for i in l_of_l:
    third.append(i[2])
print(third)

['blue', 'blood orange', 'lavender', 'mac n cheese']

Question 30. Given below is a list of lists of athletes. Create a list, t, that saves only the athlete’s name if it
contains the letter “t”. If it does not contain the letter “t”, save the athlete name into list other.
athletes = [[&#39;Phelps&#39;, &#39;Lochte&#39;, &#39;Schooling&#39;, &#39;Ledecky&#39;, &#39;Franklin&#39;], [&#39;Felix&#39;, &#39;Bolt&#39;, &#39;Gardner&#39;, &#39;Eaton&#39;], [&#39;Biles&#39;,
&#39;Douglas&#39;, &#39;Hamm&#39;, &#39;Raisman&#39;, &#39;Mikulak&#39;, &#39;Dalton&#39;]]

In [45]:
athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'], ['Felix', 'Bolt', 'Gardner', 'Eaton'], ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]
a=[]
b=[]
for i in athletes:
    for j in i:
        if "t" in j:
            a.append(j)
        else:
            b.append(j)
print("with t: ",a)
print("without t: ",b)

with t:  ['Lochte', 'Bolt', 'Eaton', 'Dalton']
without t:  ['Phelps', 'Schooling', 'Ledecky', 'Franklin', 'Felix', 'Gardner', 'Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak']

Question 31. Write code to assign to the variable map_testing all the elements in lst_check while adding the
string “Fruit: ” to the beginning of each element using mapping.
lst_check = [&#39;plums&#39;, &#39;watermelon&#39;, &#39;kiwi&#39;, &#39;strawberries&#39;, &#39;blueberries&#39;, &#39;peaches&#39;, &#39;apples&#39;, &#39;mangos&#39;, &#39;papaya&#39;]

In [48]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
maptesting = map(lambda str: "Fruit: " + str, lst_check)
print(list(maptesting))

['Fruit: plums', 'Fruit: watermelon', 'Fruit: kiwi', 'Fruit: strawberries', 'Fruit: blueberries', 'Fruit: peaches', 'Fruit: apples', 'Fruit: mangos', 'Fruit: papaya']

Question 32. Below, we have provided a list of strings called countries. Use filter to produce a list called
b_countries that only contains the strings from countries that begin with B.
countries = [&#39;Canada&#39;, &#39;Mexico&#39;, &#39;Brazil&#39;, &#39;Chile&#39;, &#39;Denmark&#39;, &#39;Botswana&#39;, &#39;Spain&#39;, &#39;Britain&#39;, &#39;Portugal&#39;, &#39;Russia&#39;,
&#39;Thailand&#39;, &#39;Bangladesh&#39;, &#39;Nigeria&#39;, &#39;Argentina&#39;, &#39;Belarus&#39;, &#39;Laos&#39;, &#39;Australia&#39;, &#39;Panama&#39;, &#39;Egypt&#39;, &#39;Morocco&#39;,
&#39;Switzerland&#39;, &#39;Belgium&#39;]

In [52]:
countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']
b=[]
for i in countries:
    if "B" in i:
        b.append(i)
print(b)

#####################################

c=filter(lambda i: "B" in i,countries )
print(list(c))

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']
['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

Question 33. Below, we have provided a list of tuples that contain the names of Game of Thrones
characters. Using list comprehension, create a list of strings called first_names that contains only the first
names of everyone in the original list.
people = [(&#39;Snow&#39;, &#39;Jon&#39;), (&#39;Lannister&#39;, &#39;Cersei&#39;), (&#39;Stark&#39;, &#39;Arya&#39;), (&#39;Stark&#39;, &#39;Robb&#39;), (&#39;Lannister&#39;, &#39;Jamie&#39;),
(&#39;Targaryen&#39;, &#39;Daenerys&#39;), (&#39;Stark&#39;, &#39;Sansa&#39;), (&#39;Tyrell&#39;, &#39;Margaery&#39;), (&#39;Stark&#39;, &#39;Eddard&#39;), (&#39;Lannister&#39;, &#39;Tyrion&#39;),
(&#39;Baratheon&#39;, &#39;Joffrey&#39;), (&#39;Bolton&#39;, &#39;Ramsey&#39;)

In [55]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey')]
G_O_T=[i[1] for i in people]
print(list(G_O_T))

['Jon', 'Cersei', 'Arya', 'Robb', 'Jamie', 'Daenerys', 'Sansa', 'Margaery', 'Eddard', 'Tyrion', 'Joffrey', 'Ramsey']

Question 34. Use list comprehension to create a list called lst2 that doubles each element in the list, lst.
lst = [[&quot;hi&quot;, &quot;bye&quot;], &quot;hello&quot;, &quot;goodbye&quot;, [9, 2], 4]

In [60]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]
a=[i+i for i in lst]
print(list(a))

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

Question 35. Below, we have provided a list of tuples that contain students’ names and their final grades in
PYTHON 101. Using list comprehension, create a new list passed that contains the names of students who
passed the class (had a final grade of 70 or greater).
students = [(&#39;Tommy&#39;, 95), (&#39;Linda&#39;, 63), (&#39;Carl&#39;, 70), (&#39;Bob&#39;, 100), (&#39;Raymond&#39;, 50), (&#39;Sue&#39;, 75)]

In [61]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]
new=[]
for i in students:
    if i[1]>70:
        new.append(i[0])
print(new)

['Tommy', 'Bob', 'Sue']

Question 36. Write code using zip and filter so that these lists (l1 and l2) are combined into one big list and
assigned to the variable opposites if they are both longer than 3 characters each.
l1 = [&#39;left&#39;, &#39;up&#39;, &#39;front&#39;]
l2 = [&#39;right&#39;, &#39;down&#39;, &#39;back&#39;]

In [70]:
l1 = ['left', 'up', 'front'] 
l2 = ['right', 'down', 'back']
new=zip(l1,l2)
#print(list(new))
oppo= list(filter(lambda i: len(i[0])>3 and len(i[1])>3, new))
print(list(oppo))

[('left', 'right'), ('front', 'back')]

Question 37. Below, we have provided a species list and a population list. Use zip to combine these lists
into one list of tuples called pop_info. From this list, create a new list called endangered that contains the
names of species whose populations are below 2500.
species = [&#39;golden retriever&#39;, &#39;white tailed deer&#39;, &#39;black rhino&#39;, &#39;brown squirrel&#39;, &#39;field mouse&#39;, &#39;orangutan&#39;,
&#39;sumatran elephant&#39;, &#39;rainbow trout&#39;, &#39;black bear&#39;, &#39;blue whale&#39;, &#39;water moccasin&#39;, &#39;giant panda&#39;, &#39;green turtle&#39;,
&#39;blue jay&#39;, &#39;japanese beetle&#39;]
population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500,
125000]

In [74]:
species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']
population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]
a=zip(species,population)
#print(list(a))
e=[]
for i,j in a:
    if j<2500:
        e.append(i)
print(e)

['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']